@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");

body {
    background-color: #131417;
    color: rgb(235, 235, 235);
    font-family: "Raleway", sans-serif;
}

input:focus,
input:active {
    outline: 0 !important;
    box-shadow: none !important;
}

.custom-file-container__image-preview {
    overflow: hidden !important;
    margin: 0;
    border-radius: 0%;
}

.custom-file-container__custom-file__custom-file-control {
    background-color: transparent;
    color: rgb(235, 235, 235);
    border: solid 3px rgb(235, 235, 235);
    border-radius: 0%;
    transition-duration: 0.2s;
}

.custom-file-container__custom-file__custom-file-control:hover {
    background-color: rgb(235, 235, 235);
    color: #000;
}

.custom-file-container__custom-file__custom-file-control__button {
    display: none;
}

.custom-file-container__image-clear {
    margin-top: 11px;
    margin-left: 6px;
    color: #d40f1c;
    text-decoration: none;
    z-index: 10;
}

.custom-file-container__image-clear:hover {
    text-decoration: underline;
    color: #d40f1c;
}

#imagePassword {
    transition-duration: 0.2s;
    background-color: transparent;
    color: rgb(235, 235, 235);
    border-width: 0 0 3px 0;
    border-style: solid;
    border-color: rgb(235, 235, 235);
    border-radius: 0%;
}

#uploadBtn {
    transition-duration: 0.2s;
    background-color: transparent;
    color: rgb(235, 235, 235);
    border: solid 3px rgb(235, 235, 235);
    border-radius: 0%;
}

#uploadBtn:hover {
    background-color: rgb(235, 235, 235);
    color: #000;
}

#passLabel {
    float: left;
}

#sizeSpan {
    color: #d40f1c;
}

#copyHref {
    color: rgb(235, 235, 235);
}

#copyLabel {
    text-decoration: underline;
}

#copyLabel:hover {
    color: rgb(143, 143, 143);
}

#imageLink {
    color: #000;
    background-color: rgb(235, 235, 235);
    padding: 2.5px;
}

.lockBtn {
    border-color: rgb(91, 98, 105) !important;
    color: rgb(91, 98, 105) !important;
    pointer-events: none;
    cursor: not-allowed;
}

.center {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#imag {
    border: #000 3px solid;
}
